/* shared space with viewWorkOrderButton */
.inputNewWorkOrder {
  margin-left: 0.5rem;
}

/* shared space with inputNewWorkOrder */
.viewWorkOrderButton {
  margin-left: 0.5rem;
}

.inputLabel {
  padding-top: 1rem;
}

.unitsSelect {
  width: 9.1rem !important;
}

.selectElements {
  width: 15rem !important;
}

.sapMPanelContent {
  padding:0rem !important;
}

.sapUiRespGrid.sapUiRespGridVSpace1>div {
  margin-bottom:0.5rem !important;
}

.confirmTimeFragmentInputLabel {
  width: 13rem;
  padding-top: 1rem;
}

.confirmTimeFragmentInput {
  width: 18.6rem !important;
}

.durationUnitErrorState {
  border: 2px red solid;
}
